<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148952760-2');
    </script> -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is the Template</title>
    <link rel="stylesheet" media="screen" href="\static\meyerReset.css">
    <link rel="stylesheet" media="screen" href="\static\StylesBaby.css"> 
    <link href="https://fonts.googleapis.com/css?family=Rhodium+Libre|Roboto+Slab|Russo+One&display=swap" rel="stylesheet">
    <!--  USAGE AS:   font-family: 'Russo One', sans-serif;font-family: 'Rhodium Libre', serif; font-family: 'Roboto Slab', serif; -->
    
</head>
<body>
    <h1>This is the template</h1>
    <div id="theLogoDiv">
        <img src="static/SWTLogoV2.svg">
    </div>

     
</body>

</html>

<script src="\static\yourScript.js" defer></script>
